/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color: #f5f5f5; 
}

/* Estilos para el contenedor del formulario de inicio de sesión/registro */
.contenedor-login {
    width: 300px; 
    padding: 60px; 
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* Estilos para el formulario */
.formulario-login {
    display: flex;
    flex-direction: column; 
}

/* Estilos para cada grupo de entrada (input + label) */
.input-group {
    margin-bottom: 15px; 
}

/* Estilos para las etiquetas (labels) de cada campo */
.input-group label {
    display: block; 
    margin-bottom: 5px; 
}

/* Estilos para los campos de entrada (inputs) */
.input-group input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px;
}

/* Estilos para el botón */
button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}

/* Cambios de estilo al pasar el cursor sobre el botón */
button:hover {
    background-color: #0056b3; 
}

/* Estilos para los enlaces bajo el formulario */
.links {
    margin-top: 15px; 
    text-align: center; 
}

/* Estilos para los enlaces individuales */
.links a {
    color: #007bff; 
    text-decoration: none; 
}

/* Cambios de estilo al pasar el cursor sobre los enlaces */
.links a:hover {
    text-decoration: underline; 
}

/* Estilos responsive para pantallas medianas (tablets) */
@media (max-width: 768px) {
    .contenedor-login {
        width: 80%; 
        padding: 10px; 
    }

    .input-group input {
        font-size: 14px; 
    }
}

/* Estilos responsive para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .contenedor-login {
        width: 95%; 
    }

    .input-group input, .input-group label, button {
        font-size: 14px; 
        width: 95%; 

    }

    button {
        padding: 8px 10px; 
    }
}