body {
    padding-top: 50px;
  }
  .perfil-imagen {
    width: 150px;
    height: 150px;
    background-color: #eaeaea;
    border-radius: 50%;
    margin: 0 auto;
  }
  .nombre {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
  .boton-contacto {
    display: block;
    width: 200px;
    margin: 10px auto;
  }
  .habilidades, .informacion-personal {
    margin-bottom: 30px;
  }
  .proyecto {
    background-color: #eaeaea;
    height: 200px;
  }
  .seccion-contacto {
    background-color: #f9f9f9;
    padding: 20px 0;
  }
  .margen {
    margin-bottom: 100px; 
}
  .mapa-responsivo {
    width: 135%;
    height: 350px; 
    border: 0;
  }
  @media screen and (max-width: 768px) {
    .mapa-responsivo {
      height: 250px; 
      width: 100%;
    }
    h2{
      margin-top: 20%;
    }
  }
  body.dark-mode {
    background-color: #121212; 
    color: #ffffff; 
  }
  body.dark-mode .seccion-contacto {
    background-color: #1a1a1a; 
}
  
  
  