/* Estilo del encabezado */
header {
    background-color: #3b3b3b;
    color: #ffffff; 
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

/* Estilo del logo */
.logo {
    font-size: 18px; 
    font-weight: bold;
}

.logo img {
    width: 50px;
    height: auto; 
}



/* Estilo de la barra de navegación */
nav ul {
    list-style: none;
    padding: 0; 
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el espaciado después del último elemento de la lista */
}

nav ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #ffffff; /* Color del texto de los enlaces en el encabezado */
    font-weight: bold;
}

