.menu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
  }

  .menu .titulo::before {
    content: '▶ ';
    color: green;
  }

  .menu.open .titulo::before {
    content: '▼ ';
  }

  .menu.open ul {
    display: block;
  }